.first-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
    padding: 24px 0px 60px 40px;
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.new-product {
    width: 380px;
    padding-top: 146px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 10px;
    color: #fafafa80;
    margin-bottom: 18px;
}
.first-section-h2 {
    width: 380px;
    font-size: 4.6rem;
    line-height: 48px;
    font-weight: 700;
    color: var(--clr-light-gray);
    margin-bottom: 26px;
}
.first-section-description {
    width: 330px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 24px;
    color: #fafafa80;
    margin-bottom: 38px;
}
.first-section-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 44px;
    background-color: var(--clr-orange);
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}