footer {
    width: 100%;
    background-color: var(--clr-almost-black);
}
.footer-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 40px 50px 40px;
}
.nav-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 
.nav-footer > .right-section > .unordered-list__nav {
    gap: 60px;
}
.footer-text__container {
    width: 100%;
    max-width: 530px;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    align-self: flex-start;
}
.links-section {
    display: flex;
    align-self: flex-end;
    gap: 26px;
}
.links-section > a {
    cursor: pointer;
}
.links-section > a:hover {
    filter: invert(51%) sepia(66%) saturate(484%) hue-rotate(338deg) brightness(99%) contrast(80%);
}
.copyright {
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    align-self: flex-start;
} 
@media(max-width: 900px) {
    .footer-section {
        align-items: center;
        text-align: center;
    }
    .nav-footer {
        flex-direction: column;
        gap: 30px;
    }
    .nav-footer > .right-section > .unordered-list__nav {
        flex-direction: column;
        gap: 30px;
    }
    .footer-text__container {
        align-self: center;
    }
    .links-section {
        align-self: center;
    }
    .copyright {
        align-self: center;
    }
}