.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 650px;
    min-width: 260px;
    background-color: white;
    border-radius: 6px;
    padding: 34px;
}
.checkout-form > h2 {
    font-size: 2.6rem;
}
.checkout-form > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.checkout-form > div > h3 {
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--clr-orange);
}
.input-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-div > label {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
}
.input-div > label.recquired {
    color: red;
}
.input-div > input {
    width: 270px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid var(--clr-light-gray);
    padding-left: 18px;
}
.input-div > input.recquired {
    border: 2px solid red;
}
.address {
    width: 100%;
}
.address > input {
    width: 100%;
}
.payment-details {
    justify-content: space-between;
}
.payment-details > p {
    font-size: 1.2rem;
    font-weight: 700;
}
.payment-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkbox {
    display: flex;
    width: 240px;
    border: 1px solid black;
    height: 48px;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}
.checkbox:hover {
    border: 2px solid var(--clr-orange);
}
.checkbox.checked {
    border: 2px solid var(--clr-orange);
}
.checkout-form > .info-div {
    font-size: 1.2rem;
    flex-wrap: nowrap;
}