.home-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;
}
.speaker-container {
    position: relative;
    display: flex;
    gap: 120px;
    width: 100%;
    padding: 30px 80px 0px 80px;
    background-color: var(--clr-orange);
    border-radius: 8px;
}
.transparent-div {
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.4;
}
.speaker-container > img {
    min-width: 300px;
    max-width: 390px;
    width: 100%;
    height: 100%;
    max-height: 470px;
}
.speaker-text__cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 330px;
}
.speaker-text__cotainer > h2 {
    color: white;
    font-size: 5rem;
    line-height: 5.6rem;
    margin-bottom: 10px;
}
.speaker-text__cotainer > p {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 6px;
}
.speaker-text__cotainer > .first-section-link {
    background-color: black;
}
.speaker-zx7-container {
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 110px 0px 110px 60px;
    border-radius: 6px;
}
.speaker-zx7-text__cotainer > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.speaker-zx7-text__cotainer > .first-section-link {
    width: 120px;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    background-color: transparent;
}
.earphones-container {
    display: flex;
    gap: 20px;
    width: 100%;
    border-radius: 6px;
    max-height: 325px;
}
.image-container {
    width: 50%;
    height: 100%;
}
.image-container > img {
    height: 325px;
    width: 100%;
    border-radius: 6px;
}
.earphones-text__cotainer {
    width: 50%;
    padding: 90px 0px 90px 60px;
    border-radius: 6px;
    background-color: #f1f1f1;
}
.earphones-text__cotainer > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.earphones-text__cotainer > .first-section-link {
    width: 120px;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    background-color: transparent;
}