.home-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.speaker-container {
    position: relative;
    display: flex;
    gap: 120px;
    width: 100%;
    padding: 30px 80px 0px 80px;
    background-color: var(--clr-orange);
    border-radius: 8px;
}
.transparent-div {
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.4;
}
.speakerZx9 {
    min-width: 300px;
    max-width: 390px;
    width: 100%;
    height: 100%;
    max-height: 470px;
}
.speaker-text__cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 330px;
}
.speaker-text__cotainer > h2 {
    color: white;
    font-size: 5rem;
    line-height: 5.6rem;
    margin-bottom: 10px;
}
.speaker-text__cotainer > p {
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    font-weight: 300;
    margin-bottom: 6px;
}
.speaker-text__cotainer > .first-section-link {
    background-color: black;
    border: 2px solid black;
    transition: 0.3s;
}
.speaker-text__cotainer > .first-section-link:hover {
    opacity: 1;
    color: black;
    background-color: transparent;
}
.speaker-zx7-container {
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0px 80px 60px;
    border-radius: 6px;
}
.speaker-zx7-text__cotainer > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.speaker-zx7-text__cotainer > .first-section-link {
    width: 120px;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    background-color: transparent;
    transition: 0.3s;
}
.speaker-zx7-text__cotainer > .first-section-link:hover {
    color: white;
    background-color: black;
    opacity: 1;
}
.earphones-container {
    display: flex;
    gap: 20px;
    width: 100%;
    border-radius: 6px;
}
.image-container {
    width: 50%;
    height: 100%;
}
.image-container > img {
    min-height: 200px;
    max-height: 290px;
    width: 100%;
    border-radius: 6px;
}
.earphones-text__cotainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    min-height: 200px;
    max-height: 290px;
    padding-left: 60px;
    border-radius: 6px;
    background-color: #f1f1f1;
}
.earphones-text__cotainer > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}
.earphones-text__cotainer > .first-section-link {
    width: 120px;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    background-color: transparent;
    transition: 0.3s;
}
.earphones-text__cotainer > .first-section-link:hover {
    color: white;
    background-color: black;
    opacity: 1;
}
@media(max-width: 900px) {
    .speaker-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        width: 100%;
        padding: 60px 60px 60px 60px;
    }
    .speaker-text__cotainer > h2 {
        font-size: 3.6rem;
    }
    .speakerZx9 {
        width: 160px;
        min-width: 160px;
    }
    .transparent-div {
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .speaker-text__cotainer {
        align-items: center;
    }
    .earphones-text__cotainer {
        align-items: center;
        padding-left: 0;
    }
    .earphones-text__cotainer > h2 {
        font-size: 2rem;
    }
}
@media(max-width: 560px) {
    .earphones-container {
        display: flex;
        flex-direction: column;
    }
    .image-container {
        width: 100%;
    }
    .earphones-text__cotainer {
        width: 100%;
    }
}