.promo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0px 40px 80px 40px;
}
.text-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 570px;
}
.text-section > h2 {
    font-size: 4rem;
    font-weight: 700;
}
.text-section > h2 > span {
    color: var(--clr-orange);
}
.text-section > p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.promo-section > .promo-image {
    width: 100%;
    max-width: 430px;
    height: 100%;
    max-height: 470px;
    border-radius: 8px;
}
.promo-image-tablet {
    display: none;
}
.promo-image-mobile {
    display: none;
}
@media(max-width: 900px) {
    .promo-section {
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
    }
    .promo-section > .promo-image {
        display: none;
    }
    .promo-image-tablet {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
    .text-section > h2 {
        font-size: 2.6rem;
        font-weight: 700;
    }
}
@media(max-width: 500px) {
    .promo-image-tablet {
        display: none;
    }
    .promo-image-mobile {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
}