:root {
  --clr-orange: hsl(22, 65%, 57%);
  --clr-almost-black: hsla(0, 0%, 6%, 0.955);
  --clr-light-gray: hsl(0, 0%, 95%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
  --clr-peach: hsl(21, 94%, 75%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
html {
  font-size: 62.5%;
  font-family: 'Manrope';
}
header {
  width: 100%;
  height: 100%;
  background-color: #191919;
}
main {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.checkout__page {
  padding: 50px 40px 60px 40px;
  margin-bottom: 60px;
  background-color: var(--clr-light-gray);
}
.summary-forms__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media(max-width: 900px) {
  .checkout__page {
    padding: 50px 0px 60px 0px;
    background-color: transparent;
    align-items: center;
  }
}